<!DOCTYPE html>
<html>
<head>
    <title>Title!!!!!!!!!!!1</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>

<div class="search-container">
    <div style="margin-left: 10px;float:left">
        <img src="goog.png" style="float: left"/>
        <input class="main_search_input" style="float: left;margin-top: 10px" id="main_search_input"/>
        <input type="button" value="search" class="standard_button" style="float: left;margin-top: 10px" id="search_button"/>
    </div>

    <div class="menu_container" style="padding-top: 10px">
        <img src="menu.png" style="float: left"/>
        <input type="button" value="login" class="standard_button" style="float: left"/>
    </div>
</div>

<ul class="main_menu">
    <li>Все</li>
    <li>Видео</li>
    <li>Картинки</li>
    <li>Новости</li>
</ul>


<ul class="search_result">
    <li>
        <div class="search_title">{title}</div>
        <div class="search_url">{url}</div>
        <div class="search_text">{text}</div>
    </li>
</ul>

<script>
    $('#search_button').click(function () {
        var filter = $('#main_search_input').val();
        $.post('search', {filter: filter, name: 'Alex'}, function (sr) {

            var container = $('<ul/>');
            $.each(sr, function (i, item) {
                var $li = $('<li/>');

                addDiv('search_title', item.title);
                addDiv('search_url', item.url);
                addDiv('search_text', item.text);

                function addDiv(className, text) {
                    var div = $('<div/>').addClass(className).text(text);
                    $li.append(div);
                }
                container.append($li);
            });

            $('.search_result').html(container.html());
        });
    })

</script>

</body>
</html>