<html>
<head>
    <title>Title!!!!!!!!!!!1</title>
</head>
<body style="color: red; font-size: 44px">


<a href="login.html" style="cursor: crosshair">Go!!!!</a>

<div style="border: 5px double green;background-color: #e2c4de">
    login: <input style="color: blue; font-weight: bold">
    password: <input type="password">
    <input type="button" value="login">
</div>

<select>
    <option>1</option>
    <option>2</option>
    <option>hi</option>
</select>

<table>
    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Gender</td>
    </tr>
    <tr>
        <td>Alex</td>
        <td>10</td>
        <td>M</td>
    </tr>
    <tr>
        <td>Olia</td>
        <td>15</td>
        <td>W</td>
    </tr>
</table>

<ul>
    <li>111</li>
    <li>5345</li>
    <li>gdfgdf</li>
    <li>gdfgdf</li>
</ul>

<img src="https://yastatic.net/www/_/x/Q/xk8YidkhGjIGOrFm_dL5781YA.svg"/>

</body>
</html>